<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa-regular fa-hand-spock"></i></a>
    <a href="#"><i class="fa-solid fa-pizza-slice"></i></a>
    <a href="#"><i class="fa-brands fa-pagelines"></i></a>
    <a href="#"><i class="fa-solid fa-person-swimming"></i></a>
    <a href="#"><i class="fa-regular fa-moon"></i></a>
  </div>
  <div class="footer-copyright">
    This footer has been made with <i class="fas fa-heart"></i> at Home
  </div>
</div>
